<p></p>
<body class="gray">
   <div class="center2">
       <div class="container-fluid"><br>
           <em><h1>Nuevo concurso</h1></em><br>

           <%= render 'form', contest: @contest %>
      </div>
   </div>
</body>

