<body class="gif">


<div 	style= "background: transparent; height: 560px; text-align: center; color: white">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<em><p class="h1">¿Eres un locutor? </p>
	<%= link_to("Revisa los concursos vigentes y participa", 'contests/', :class => "h6 text-light") %>

	<hr size="2px" color="white" />

	<p class="h1">Crea tus concursos y encuentra las mejores voces</p>
    <%= link_to("Empieza ya", '/users/sign_up', :class => "h4 text-light") %></em>
	
	

</div>


<div style= "background: #F0F0F0; height: 500px; text-align: center; color: black">
    
	<p><br><br><br>
	<%= image_tag("logos/logo.png", width: '150px')%>
	 <font size="10"><h1>¿QUÉ ES SUPERVOICES?</h1></font></p><br>
	 <div style= "margin-left: 15em; margin-right: 15em">
	<P><font size="4">  Es un servicio dirigido a empresas de todos los tamaños 
	para fáciltar el proceso de encontrar las mejores voces
	 para sus anuncios publicitarios como videos en YouTube, comerciales en TV y radio, etc.</font></P></div>

	 <em><%= link_to("Empieza ya tus concursos", '/users/sign_up', :class => "h4 text-dark") %></em>

</div>


	




</body>



