<p></p>
<body class="gray">
   <div class="center2">
       <div class="container-fluid"><br>

         <h1>Participa en el concurso</h1>
    
         <%= render 'form', voice: @voice %>

     </div>
   </div>
</body>


